@{
    ViewData["Title"] = "Dating Application";
}
@model DateMe.Models.ApplicationResponse
<h1>Fill out dating application.</h1>
<div>
    <form method="post">
        <div asp-validation-summary="All"></div>

        <label asp-for="FirstName">First Name:</label>
        <input asp-for="FirstName"/><br />

        <label asp-for="LastName">Last Name:</label>
        <input asp-for="LastName"/><br />

        <label asp-for="Age">Age:</label>
        <input asp-for="Age"/><br />

        <label asp-for="Phone">Phone Number:</label>
        <input asp-for="Phone"/><br />

        <label asp-for="MajorId">Major:</label>
        <select asp-for="MajorId">
            <option value="">Select a Major</option>
            @foreach (Major m in ViewBag.Majors)
            {
                <option value="@m.MajorId">@m.MajorName</option>
            }
        </select><br />

        <label asp-for="CreeperStalker">Creeper/Stalker:</label>
        <select asp-for="CreeperStalker">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />

        <button type="submit">Submit Application</button>
    </form>
</div>