@{
    ViewData["Title"] = "Date Me";
}

<h1>Date Me!</h1>

<div>
    <p>
        Today is your lucky day! You may have an opportunity to date this awesomeness.
    </p>
</div>

<img height="500" src="~/img/20220212_152152.jpg" />
<br />

<div>
    <a asp-controller="Home" asp-action="DatingApplication">Fill Out Application</a>
</div>

<div>
    <a asp-action="WaitList" asp-controller="Home">View Wait List</a>
</div>